<div class="d-flex justify-content-center pt-2 pb-2 mx-5">
  <h1 *ngIf="!showMad">Bike Partner Application</h1>
  <h1 *ngIf="showMad">PLEASE WAIT >:[</h1>
</div>
<div class="container">
  <form class="mainForm" [formGroup]="bikerForm">
    <div class="form-panel">
      <div class="form-row form-email">
          <input type="text" formControlName="Name" placeholder="Full Name" [ngClass]="{'invalid' : Name && Name.invalid && Name.touched, 'valid' : Name && Name.valid && Name.touched}">
          <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Name && Name.invalid && Name.touched}">
            Please enter your name
          </div>
          <br>
      </div>
    </div>
    <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Name && Name.invalid && Name.touched}">
      Please enter your name
    </div>

    <div class="form-panel">
      <div class="form-row form-email">
          <input type="text" formControlName="Color" placeholder="Bike Color" [ngClass]="{'invalid' : Color && Color.invalid && Color.touched, 'valid' : Color && Color.valid && Color.touched}">
          <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Color && Color.invalid && Color.touched}">
            Please enter your bike color
          </div>
          <br>
      </div>
    </div>
    <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Color && Color.invalid && Color.touched}">
      Please enter your bike color
    </div>

    <div class="form-panel">
      <div class="form-row form-email">
          <input type="text" formControlName="Miles" placeholder="Most Miles Traveled" [ngClass]="{'invalid' : Miles && Miles.invalid && Miles.touched, 'valid' : Miles && Miles.valid && Miles.touched}">
          <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Miles && Miles.invalid && Miles.touched}">
            Please enter your most miles traveled
          </div>
          <br>
      </div>
    </div>
    <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Miles && Miles.invalid && Miles.touched}">
      Please enter your most miles traveled
    </div>

    <div class="d-flex justify-content-center">
      <h4>Do you wear a helmet?</h4>
    </div>
    <div class="d-flex justify-content-center">
      <select formControlName="Helmet" id="helmet">
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>
    </div>

    <div class="form-row">
        <textarea id="w3review" formControlName="Message" rows="4" cols="20" placeholder="What are 3 things you love about being outdoors. Please describe in at least 3 sentences" style="height: 155px !important;" [ngClass]="{'invalid' : Message && Message.invalid && Message.touched, 'valid' : Message && Message.valid && Message.touched}"></textarea>
        <div class="d-md-none" style="color:red; display:none;" [ngClass]="{'mobile-show' : Message && Message.invalid && Message.touched}">
          Please fill this out
        </div>
        <br>
    </div>
    <div class="d-none d-md-block text-center" style="color:red; visibility:hidden;" [ngClass]="{'show' : Message && Message.invalid && Message.touched}">
      Please fill this out
    </div>

  </form>
  <div class="d-flex justify-content-center my-3">
    <button class="button-82-pushable" role="button" (click)="onSubmit()" *ngIf="bikerForm.valid">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
        Submit
        </span>
    </button>
    <button class="button-82-pushable-grey" role="button" *ngIf="bikerForm.invalid">
        <span class="button-82-front-grey text">
        Submit
        </span>
    </button>
  </div>
</div>